*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  background-color: hsl(216, 12%, 8%);
  color: white;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  color: hsl(217, 12%, 63%);
  font-weight: 500;
}

.card {
  background: linear-gradient(hsl(213, 19%, 18%), hsl(213, 14%, 12%));
  width: 90%;
  margin: 10em auto 2.5em auto;
  border-radius: 1.5em;
  padding: 3em 1em;
  box-shadow: 5px 5px 20px hsl(0, 0%, 1%);
}

.card-confirmation-state {
  text-align: center;
}

@media (min-width: 500px) {
  .card {
    max-width: 80%;
  }
}

@media (min-width: 600px) {
  .card {
    max-width: 70%;
  }
}

@media (min-width: 700px) {
  .card {
    max-width: 60%;
  }
}

@media (min-width: 1000px) {
  .card {
    max-width: 25%;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(213, 19%, 18%);
  border-radius: 100px;
  width: 2.5em;
  height: 2.5em;
  box-shadow: 1px 1px 100px rgb(0, 0, 0);
  margin: 0;
}

.rating-numbers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(213, 19%, 18%);
  color: white;
  width: 3em;
  height: 3em;
  border-radius: 100%;
  opacity: 50%;
  font-weight: 700;
}

.rating:hover {
  background-color: white;
  opacity: 100%;
  color: hsl(216, 12%, 8%);
}

.selected {
  background-color: hsl(25, 97%, 53%);
  opacity: 100%;
}

.submit {
  width: 100%;
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 0.15em;
  border: none;
  border-radius: 1.5em;
  padding: 1em 0;
  margin: 0;
}

.submit:hover,
.submit:active {
  background-color: white;
  cursor: pointer;
}

.rating-confirmation {
  background-color: hsl(213, 19%, 18%);
  width: max-content;
  margin: 1.5em auto 2em auto;
  border-radius: 1.5em;
}

.rating-confirmation-text {
  color: hsl(25, 97%, 53%);
  opacity: 95%;
  padding: 0.5em 1em;
}

.thank-you-message {
  margin-bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
